* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Open Sans', sans-serif;
}
.wrapper {
  margin: 80px auto;
  box-sizing: content-box;
  max-width: 1170px;
  padding: 10px;
}
.header {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 70px;
}
.header-heading {
  opacity: 0.4;
  color: #030303;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
}
.header-title {
  font-size: 28px;
  font-weight: 300;
  line-height: 42px;
  color: #030303;
}
.header-title span {
  color: #ec5652;
}
.timeline-holder {
  font-size: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1170px;
  padding-right: 90px;
}
@media all and (max-width: 1024px) {
  .timeline-holder {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-right: 0;
    margin: 0 auto;
  }
}
.timeline-period {
  padding: 2px;
  font-size: 1rem;
  width: 20%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}
@media all and (max-width: 1024px) {
  .timeline-period {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}
.timeline-period-card {
  width: 26vw;
  max-width: 330px;
  margin-bottom: 4px;
  min-height: 136px;
}
@media all and (max-width: 1150px) {
  .timeline-period-card {
    min-height: 160px;
  }
}
@media all and (max-width: 1024px) {
  .timeline-period-card {
    max-width: 994px;
    width: 100%;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }
}
.timeline-period-number {
  float: left;
  width: 51px;
  height: 51px;
  border-radius: 50%;
  background-color: #ec8d85;
}
.timeline-period-number .inner {
  width: 41px;
  height: 41px;
  margin: 5px;
  color: #ffffff;
  font-size: 21px;
  font-weight: 600;
  border-radius: 50%;
  background-color: #e75149;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.timeline-period-number.twenty {
  background-image: linear-gradient(198deg, transparent 50%, #e04134 50%), linear-gradient(-90deg, #e04134 50%, transparent 50%);
}
.timeline-period-number.forty {
  background-image: linear-gradient(126deg, transparent 50%, #e04134 50%), linear-gradient(-90deg, #e04134 50%, transparent 50%);
}
.timeline-period-number.sixty {
  background-color: #e04134;
  background-image: linear-gradient(90deg, #ec8d85 50%, transparent 50%), linear-gradient(234deg, transparent 50%, #ec8d85 50%);
}
.timeline-period-number.eighty {
  background-color: #e04134;
  background-image: linear-gradient(90deg, #ec8d85 50%, transparent 50%), linear-gradient(162deg, transparent 50%, #ec8d85 50%);
}
.timeline-period-number:after {
  content: '';
  display: block;
  height: 64px;
  width: 1px;
  background-color: #f0544e;
  position: relative;
  left: 25px;
  top: 10px;
}
@media all and (max-width: 1150px) {
  .timeline-period-number:after {
    height: 88px;
  }
}
@media all and (max-width: 1024px) {
  .timeline-period-number:after {
    width: 20px;
    height: 1px;
    top: -24px;
    left: -28px;
  }
}
@media all and (max-width: 1024px) {
  .timeline-period-number {
    margin-left: 36px;
  }
}
.timeline-period-title {
  margin-left: 72px;
  opacity: 0.8;
  font-weight: 300;
  font-size: 24px;
  color: #ec5652;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.timeline-period-title svg {
  margin-left: 10px;
}
.timeline-period-title svg path {
  fill: #ec5652;
}
@media all and (max-width: 1024px) {
  .timeline-period-title {
    margin-left: 98px;
  }
}
.timeline-period-description {
  margin-left: 72px;
  opacity: 0.8;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #030303;
}
@media all and (max-width: 1024px) {
  .timeline-period-description {
    margin-left: 98px;
  }
}
.timeline-period-bar {
  width: 100%;
  height: 10px;
  -webkit-transform: skewX(-25deg);
  -ms-transform: skewX(-25deg);
  transform: skewX(-25deg);
  background: #f0544e;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}
@media all and (max-width: 1024px) {
  .timeline-period-bar {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    width: 10px;
    height: auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -webkit-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    transform: skewX(0deg);
    -webkit-transform: skewY(25deg);
    -ms-transform: skewY(25deg);
    transform: skewY(25deg);
  }
}
.timeline-period:nth-child(2n) .timeline-period-card {
  position: relative;
  top: 236px;
  max-width: 350px;
}
@media all and (max-width: 1150px) {
  .timeline-period:nth-child(2n) .timeline-period-card {
    top: 284px;
  }
}
@media all and (max-width: 1024px) {
  .timeline-period:nth-child(2n) .timeline-period-card {
    max-width: 994px;
    width: 100%;
    position: static;
  }
}
.timeline-period:nth-child(2n) .timeline-period-number {
  background-color: #817b89;
}
.timeline-period:nth-child(2n) .timeline-period-number .inner {
  width: 41px;
  height: 41px;
  margin: 5px;
  color: #ffffff;
  font-size: 21px;
  font-weight: 600;
  border-radius: 50%;
  background-color: #46365a;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.timeline-period:nth-child(2n) .timeline-period-number.twenty {
  background-image: linear-gradient(198deg, transparent 50%, #281b36 50%), linear-gradient(-90deg, #281b36 50%, transparent 50%);
}
.timeline-period:nth-child(2n) .timeline-period-number.forty {
  background-image: linear-gradient(126deg, transparent 50%, #281b36 50%), linear-gradient(-90deg, #281b36 50%, transparent 50%);
}
.timeline-period:nth-child(2n) .timeline-period-number.sixty {
  background-color: #281b36;
  background-image: linear-gradient(90deg, #817b89 50%, transparent 50%), linear-gradient(234deg, transparent 50%, #817b89 50%);
}
.timeline-period:nth-child(2n) .timeline-period-number.eighty {
  background-color: #281b36;
  background-image: linear-gradient(90deg, #817b89 50%, transparent 50%), linear-gradient(162deg, transparent 50%, #817b89 50%);
}
.timeline-period:nth-child(2n) .timeline-period-number:after {
  content: '';
  display: block;
  background-color: #2c2139;
  top: -125px;
}
@media all and (max-width: 1150px) {
  .timeline-period:nth-child(2n) .timeline-period-number:after {
    top: -150px;
  }
}
@media all and (max-width: 1024px) {
  .timeline-period:nth-child(2n) .timeline-period-number:after {
    top: -24px;
  }
}
.timeline-period:nth-child(2n) .timeline-period-title {
  color: #2b2238;
}
.timeline-period:nth-child(2n) .timeline-period-title svg path {
  fill: #53495e;
}
.timeline-period:nth-child(2n) .timeline-period-bar {
  background: #2c2139;
}
.timeline-period:hover .timeline-period-bar {
  border: 1px solid #000000;
}
